html{
    overflow: hidden;
}

#canvas {
    width: 800px;
    height: 800px;
    touch-action: none;
}
#START {
    position: absolute;
    left: 200px;
    top: 200px;
}

.gamepage_10 {
    margin-top: 0;
}